.product {
  padding: 20px 0 !important;
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
}

.descrip {
  padding: 10px 50px 0 0;
  font-weight: bold;
  grid-column: 2/4;
}

.button {
  height: 40px;
  width: 100px;
}

.price {
  font-weight: bold;
  padding: 10px;
}

.total {
  position: absolute;
  left: 65%;
  font-size: medium;
  font-weight: bold;
}
